
*{
  padding: 0;
  margin: 0;
}
nav{
    border: solid 1px black;
    background-color: #333333;
    height: 50px;
    position: sticky;
    top: 0;
    width: 100%;

}
.navul{
    list-style: none;
  
    padding: 15px;
}
.navigation{
    display:inline-block;
    font-weight: bolder;
    margin-right: 20px;
    color: white;
    
}
#background-image{
    background-image: url(../image/showcase.jpeg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
#para{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#heading{
    margin-top: 11%;
    font-size: 4rem;
}
#txt2{
    font-size: 2rem;
}
p{
    font-size: 1.3rem;
}
#txt3{
    margin-top: 30px;
}
#txt2{
    margin-top: 20px;
}

#icon{
    background-color: #252529;
    text-align: center;
    color: white;
    line-height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
button{
    padding: 20px;
    color:white;
    background-color: red;
    margin-top: 2%;
    border-style: none;
}
#icon>h2{
    margin-top: 2%;
}
#para{
    margin-top: 2%;
}
#subject{
    margin-top: 1%;
}
#section1{
    font-weight: bold;
    align-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#section1>h1{
       margin-top: 2%;
}
#section1>p{
    margin-top: 2%;
    width: 90%;
    margin-left: 80px;
}
#section1>button{
    color: white;
    background-color: #103063;
    padding: 25px;
}
#image2{
    text-align: center;
}
#image3{
    background: url(../image/section-bg.jpeg) bottom/cover ;
    color: white;
    padding: 10rem 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#image3>p{
    width: 90%;
    margin-left: 80px; ;
    margin-top: 2%;
}
#grid{
    border: solid 1px white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 420px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
.grid1{
    border: solid 1px white ;
    background-image: url(../image/cards.png);
    background-size: contain;
    background-repeat: no-repeat;
 
}
.grid1{
    border: solid 1px white;
    margin-left: 180px;
}
#grid>.grid2{
    text-align: left;
    margin-top: 4%;
}
.grid2>p{
    margin-top: 4%;
}
hr{
    margin-top: 4%;
    margin-bottom: 2%; 
}
a{
    text-decoration: none;
}
#bottom{
    background-color: #252529;
    color: white;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
   
    
}
#footer1{
    height: 40px;
    color: white;
    text-align: center;
    background-color: #333333;
    
}
#footer1>footer{
    padding: 10px;
}
/* #bottom>li{
    line-height: 80px;
} */
li{
    list-style: none;
}
